<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Bulk Email Checker</title>

    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!--Import materialize.css-->
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <!-- Compiled and minified JavaScript -->
  </head>
  <body>
    <main class="container">
      <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo"
            ><i class="material-icons">cloud</i>Email Checker</a
          >
        </div>
      </nav>

      <div class="container">
        Click here for <a href="result.html">the results</a>

      </div>
    </main>

    <script>
      document.addEventListener("DOMContentLoaded", function() {
        var elems = document.querySelectorAll(".collapsible");
        var instances = M.Collapsible.init(elems);
      });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
